calculator_soap-main/calculator_soap-main/src/main/resources/wsdl/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://example.com/calculator"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://example.com/calculator">

    <!-- Types -->
    <wsdl:types>
        <xsd:schema targetNamespace="http://example.com/calculator">
            <xsd:element name="add">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="num1" type="xsd:int"/>
                        <xsd:element name="num2" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="addResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Define other operations (subtract, multiply, divide) similarly -->

        </xsd:schema>
    </wsdl:types>

    <!-- Message Definitions -->
    <wsdl:message name="addRequest">
        <wsdl:part name="parameters" element="tns:add"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="parameters" element="tns:addResponse"/>
    </wsdl:message>

    <!-- Define messages for other operations (subtract, multiply, divide) -->

    <!-- Port Type (Interface) -->
    <wsdl:portType name="CalculatorPortType">
        <wsdl:operation name="add">
            <wsdl:input message="tns:addRequest"/>
            <wsdl:output message="tns:addResponse"/>
        </wsdl:operation>

        <!-- Define operations (subtract, multiply, divide) similarly -->

    </wsdl:portType>

    <!-- Binding -->
    <wsdl:binding name="CalculatorSOAPBinding" type="tns:CalculatorPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <!-- Define bindings for other operations (subtract, multiply, divide) -->

    </wsdl:binding>

    <!-- Service -->
    <wsdl:service name="CalculatorService">
        <wsdl:port name="CalculatorPort" binding="tns:CalculatorSOAPBinding">
            <soap:address location="http://localhost:8080/calculator"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
